html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  height: 69px;
  width: 100%;
  position: fixed;
  /* use z-index to display header "on top" of the content-wrap   */
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

nav {
  padding-right: 20px;
  width: 380px;
  display: flex;
  justify-content: space-between;
}

nav p {
  text-decoration: underline;
}
