html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  top: 0px;
  height: 69px;
  width: 100%;
  position: fixed;
  /* use z-index to display header "on top" of the content-wrap   */
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

nav {
  padding-right: 20px;
  width: 380px;
  display: flex;
  justify-content: space-between;
}

nav p {
  text-decoration: underline;
}

.content-wrap {
  /* position at bottom of header, ie 69 pixels below its normal position */
  top: 69px;
  position: relative;
  display: flex;
  /* the containers are stacked on top of one another */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission-wrap {
  height: 700px;
  width: 1200px;
  background-image: url("./images/background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

/* create class for text in center of page  */
.center-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: .1;
}

.mission {
  height: 120px;
  background-color: black;
  width: 100%;
}

.tea-of-month {
  padding-top: 50px;
}

.tea-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tea-container img {
  height: 200px;
  width: 300px;
}

.teas-wrap {
  margin-bottom: 50px;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.locations-background {
  height: 500px;
  width: 1200px;
  background-image: url("./images/locations_background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.locations-container {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.locations {
  width: 980px;
  display: flex;
  justify-content: space-between;
}

.text-box {
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  padding-top: 50px;
  width: 300px;
  height: 200px;
  line-height: .3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  padding-left: 20px;
  padding-top: 50px;
  /* override default alignment of item along cross-axis (horizontal here) */
  align-self: flex-start;
}
